<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_idc" jdbcType="VARCHAR" property="userIdc" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_age" jdbcType="VARCHAR" property="userAge" />
    <result column="user_tel" jdbcType="VARCHAR" property="userTel" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_cre_tim" jdbcType="TIMESTAMP" property="userCreTim" />
    <result column="use_upd_tim" jdbcType="TIMESTAMP" property="useUpdTim" />
    <result column="user_role" jdbcType="INTEGER" property="userRole" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_idc, user_sex, user_age, user_tel, user_account, user_password, 
    user_cre_tim, use_upd_tim, user_role
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
  </select>
  <select id="selectOne" parameterType="com.example.demo.model.User" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user
    <where>
      <if test="userId != null">
        AND user_id = #{userId}
      </if>
      <if test="userName != null">
        AND user_name= #{userName}
      </if>
      <if test="userIdc != null">
        AND user_idc = #{userIdc}
      </if>
      <if test="userSex != null">
        AND user_sex = #{userSex}
      </if>
      <if test="userAge != null">
        AND user_age = #{userAge}
      </if>
      <if test="userTel != null">
        AND user_tel = #{userTel}
      </if>
      <if test="userAccount != null">
        AND user_account = #{userAccount,jdbcType=VARCHAR}
      </if>
      <if test="userPassword != null">
        AND user_password =#{userPassword}
      </if>
      <if test="userCreTim != null">
        AND user_cre_tim = #{userCreTim}
      </if>
      <if test="useUpdTim != null">
        AND use_upd_tim = #{useUpdTim}
      </if>
      <if test="userRole != null">
        AND user_role = #{userRole}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.User">
    insert into sys_user (user_id, user_name, user_idc, 
      user_sex, user_age, user_tel, 
      user_account, user_password, user_cre_tim, 
      use_upd_tim, user_role)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userIdc,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=INTEGER}, #{userAge,jdbcType=VARCHAR}, #{userTel,jdbcType=VARCHAR}, 
      #{userAccount,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userCreTim,jdbcType=TIMESTAMP}, 
      #{useUpdTim,jdbcType=TIMESTAMP}, #{userRole,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.User">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userIdc != null">
        user_idc,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userAge != null">
        user_age,
      </if>
      <if test="userTel != null">
        user_tel,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userPassword != null">
        user_password,
      </if>
      <if test="userCreTim != null">
        user_cre_tim,
      </if>
      <if test="useUpdTim != null">
        use_upd_tim,
      </if>
      <if test="userRole != null">
        user_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdc != null">
        #{userIdc,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userAge != null">
        #{userAge,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCreTim != null">
        #{userCreTim,jdbcType=TIMESTAMP},
      </if>
      <if test="useUpdTim != null">
        #{useUpdTim,jdbcType=TIMESTAMP},
      </if>
      <if test="userRole != null">
        #{userRole,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.User">
    update sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdc != null">
        user_idc = #{userIdc,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userAge != null">
        user_age = #{userAge,jdbcType=VARCHAR},
      </if>
      <if test="userTel != null">
        user_tel = #{userTel,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null">
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userCreTim != null">
        user_cre_tim = #{userCreTim,jdbcType=TIMESTAMP},
      </if>
      <if test="useUpdTim != null">
        use_upd_tim = #{useUpdTim,jdbcType=TIMESTAMP},
      </if>
      <if test="userRole != null">
        user_role = #{userRole,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.User">
    update sys_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_idc = #{userIdc,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_age = #{userAge,jdbcType=VARCHAR},
      user_tel = #{userTel,jdbcType=VARCHAR},
      user_account = #{userAccount,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_cre_tim = #{userCreTim,jdbcType=TIMESTAMP},
      use_upd_tim = #{useUpdTim,jdbcType=TIMESTAMP},
      user_role = #{userRole,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>