<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  />
    <title>主页</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/yyz.css}"/>
</head>
<body>
    <div class="login_main">
        账号:<input id="use_use" placeholder="请输入账号"/>
        密码:<input id="use_password" placeholder="请输入密码"/>
        <input type="button" id="login" value="登录"></input>
        <input type="button"  value="注册"></input>
    </div>
</body>
<script th:src="@{static/js/jquery-3.3.1.js}"/>
<script th:src="@{static/js/jsall.js}"/>
<script>

    $("#login").onclick(function () {
        var use_use = $("#use_use").val();
        var use_password = $("#use_password").val();
        $.ajax({
            url: url+"login/login",
            data:"use_use="+use_use+"&use_password="+use_password,
            dataType:"json",
            type:"post",
            success:function(data){
                if(data.code == "200"){
                    window.location.href=url+"index";
                }else{
                    layer.alert(data.message);
                }
            }
    })



</script>
</html>